/*
application common css file 
*/


body{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

.appBg{
    background: linear-gradient(#fff, #ecb953) !important;
}

.bg-red{
    color: #ecb953 !important;
}

.rating-star{
    display:block;
    width:20px;
}
.fav{
    border-left: 4px solid blue;
}